.container-fluid {
  height: 38.2rem;
}
.bg-black {
  background-color: #000000;
}
.bg-orange {
  background-color: #ff8800;
}
.btn-orange {
  background-color: #ff8800;
  color: #ffffff;
  text-decoration: none;
}
.text-orange {
  color: #ff8800;
}
.Icons{
  width: 3rem;
  height: 3rem;
  padding: 8px;
  color: black;
}
.Icons.active {
  overflow:hidden;
  padding:8px;
  color: white;
  width: 3rem;
  height: 3rem
}
textarea {
  width: 100%;
  height: 150px;
  max-height: 150px;
  resize: none;
}
.filter-black {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(214deg) brightness(94%)
    contrast(105%);
}
.filter-white {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(214deg) brightness(94%)
    contrast(105%);
}
.img-col{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
.img-col:hover{
  filter: brightness(50%);
}
.Home-Page-Container {
  max-height: 38.2rem;
}

@media (max-width: 768px) {
  .Home-Page-Container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-height: 180vh;
  }
  .img-col {
    padding-top: 3rem;
  }
}