.bg-black{
    background-color: #000000;
}
.bg-orange{
    background-color: #FF8800;
}
.btn-orange{
    background-color: #FF8800;
    color: #FFFFFF;
    text-decoration: none;
}
.text-orange{
    color: #FF8800;
}
textarea{
    width: 100%;
    height: 150px;
    max-height: 150px;
    resize: none;
}
 